.navbar {
  background: black;
  min-height: 5vh;
  color: white !important;
}

.nav-link {
  color: white !important;
  cursor: pointer;
}

.navbar-toggler-icon {
  background-color: rgb(217, 233, 79);
}
.mainLayout {
  background-color: #728789;
  min-height: 100vh;
}
